/* Accordian */
/* ================================= */

/* ================================= */

main{
    max-width: 1000px;
    margin: auto;
}

.container {
    width: 100%;
}
.Accordions {
    display: block;
    margin: auto;
}
.Accordion_item {
    width: 100%;
    height: auto;
    margin: 5px 0;
}

.Accordion_item h2{
    margin-bottom: 0;
}
.Accordion_item:first-child {
    margin-top: 50px;
}
.Accordion_item .title_tab {
    width: 100%;
    background-color: #003319;
    color: #fcfcfc;
    padding: 12px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    border-radius: 4px;
}
.Accordion_item .title_tab .title {
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    padding: 0px 20px;
    color: white;
}
.Accordion_item .title_tab .title .icon {
    position: absolute;
    right: 1%;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background-color: transparent;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in;
}
.Accordion_item .title_tab .title .icon:before, .Accordion_item .title_tab .title .icon:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #fcfcfc;
}
.Accordion_item .title_tab .title .icon:before {
    top: 0;
    left: 2px;
    transform: rotate(-45deg);
}
.Accordion_item .title_tab .title .icon:after {
    top: 0;
    right: 2px;
    transform: rotate(45deg);
}
.inner_content {
    width: 100%;
    height: auto;
    display: none;
    overflow: hidden;
}
.inner_content p {
    width: 98%;
    margin: auto;
    padding: 18px 15px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    opacity: 0;
    transform: translate3d(0px, 60px, 0px);
    transition: transform 0.6s cubic-bezier(0, 0.99, 0.44, 1.01), opacity 0.8s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
}
/* ================================= */
.Accordion_item .title_tab.active {
    background-color: #006838;
    transition: background-color 0.3s ease-in;
}
.Accordion_item .title_tab.active .title .icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in;
}
.Accordion_item .title_tab:hover {
    background-color: #006838;
    transition: background-color 0.3s ease-in;
}
.Accordion_item .inner_content p.show {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.8s cubic-bezier(0, 0.99, 0.44, 1.01), transform 0.6s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
}
/* ================================= */
.inner_content p span {
    font-size: 14px;
    line-height: 30px;
}
.inner_content p b {
    color: #f44336;
    font-size: 18px;
}


@media(max-width: 700px){
    .Accordion_item .title_tab .title {
    font-size: 16px;
}
}

h2.title {
    padding: 0;
    margin: 0;
    
}

.container.accordian {
    font-family:monospace;
}