body {
  background: #333;
}

/* Box 1 */
.box1 {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: changeColor;
  animation-duration: 4s;
}

/* This keyframes changes color */
@keyframes changeColor {
  0% {
    background-color: white;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
}

/* Box 2 */
.box2 {
  width: 300px;
  height: 300px;
}
.box2Content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: changeColorDesign;
  animation-duration: 4s;
}

@keyframes changeColorDesign {
  0% {
    background-color: white;
    left: 0;
    top: 0;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0;
    top: 200px;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
  }
}

/* Box 3 */
.box3 {
  width: 300px;
  height: 300px;
}
.box3Content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: radiusChange;
  animation-duration: 4s;
}

@keyframes radiusChange {
  0% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0;
    border-radius: 50px 0 0 0;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
    border-radius: 50px 50px 0 0;
  }
  75% {
    background-color: green;
    left: 0;
    top: 200px;
    border-radius: 50px 50px 50px 0;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 50px 50px 50px 50px;
  }
}

/* Box 4 */
.box4 {
  width: 300px;
  height: 300px;
}
.box4Content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: radiusChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes radiusChange {
  0% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0;
    border-radius: 50px 0 0 0;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
    border-radius: 50px 50px 0 0;
  }
  75% {
    background-color: green;
    left: 0;
    top: 200px;
    border-radius: 50px 50px 50px 0;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 50px 50px 50px 50px;
  }
}

/* Box 5 */
.box5 {
  width: 300px;
  height: 300px;
}
.box5Content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: radiusChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: ease-in; */
}

@keyframes radiusChange {
  0% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0;
    border-radius: 50px 0 0 0;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
    border-radius: 50px 50px 0 0;
  }
  75% {
    background-color: green;
    left: 0;
    top: 200px;
    border-radius: 50px 50px 50px 0;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 50px 50px 50px 50px;
  }
}

/* Box 6 */
.box6 {
  width: 300px;
  height: 300px;
}
.box6Content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: radiusChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes radiusChange {
  0% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0;
    border-radius: 50px 0 0 0;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
    border-radius: 50px 50px 0 0;
  }
  75% {
    background-color: green;
    left: 0;
    top: 200px;
    border-radius: 50px 50px 50px 0;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 50px 50px 50px 50px;
  }
}

/* .box7 {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: radiusChange1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes radiusChange1 {
  0% {
    background-color: white;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    border-radius: 50px 0 0 0;
  }
  50% {
    background-color: yellow;
    border-radius: 50px 50px 0 0;
  }
  75% {
    background-color: green;
    top: 200px;
    border-radius: 50px 50px 50px 0;
  }
  100% {
    background-color: white;
    border-radius: 50px 50px 50px 50px;
  }
} */

/* TRANSTIONS */

/* Transition 1 */
.transition1 {
  background: white;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  transition-property: background 1s;
}

.transition1:hover {
  background: red;
}

.transition2 {
  background: white;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  transition-property: background 1s, border-radius;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in-out;
}

.transition2:hover {
  background: red;
  border-radius: 50px;
}

.transition3 {
  background: white;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  transition-property: background, border-radius;
  transition-duration: 1s, 3s;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in-out;
}

.transition3:hover {
  background: red;
  border-radius: 50px;
}

.transition4 {
  background: white;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  transition: background, border-radius, transform;
  transition-duration: 1s, 3s;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in;
}

.transition4:hover {
  background: red;
  border-radius: 50%;
  transform: rotateY(180deg);
}
