body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  padding: 0;
  margin: 0;
}
main {
  height: 100%;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.hero .hero__content {
  background-color: blanchedalmond;
  padding: 20px 100px;
}

.hero .hero__content button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(150, 150, 240);
  margin-bottom: 10px;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.hero .hero__content button:hover {
  transform: scale(105%);
  opacity: 0.9;
}

.modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 0, 0, 0.219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal__content {
  background-color: blanchedalmond;
  padding: 50px 150px;
  position: relative;
}

.modal .modal__content button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.modal .modal__content button:hover {
  transform: scale(105%);
  opacity: 1;
}

.hide {
  display: none;
  transition: 0.3s ease-in-out;
}
