* {
  padding: 0;
  margin-left: 10px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
